{% extends "base.html" %}

{% block announce %}
<span class="twemoji" style="margin-right:1em">
  {% include ".icons/fontawesome/solid/screwdriver-wrench.svg" %}
</span>
<span style="margin-right:1em"><strong>WORK IN PROGRESS</strong></span> This site is still under active development and some pages might still be missing.
{% endblock %}
{% block fonts %}
<link rel="preconnect" href="https://fonts.bunny.net">
<link href="https://fonts.bunny.net/css?family=roboto:300,300i,400,400i,700,700i|roboto-mono:400,400i,700,700i" rel="stylesheet" />
{% endblock %}
